<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>
<div th:if="${error}" style="color: red;">
  <p th:text="${error}"></p>
</div>
<form th:action="@{/api/users/process_register}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <label for="role">Role:</label>
  <select id="role" name="role">
    <option value="HR">HR</option>
    <option value="Manager">Manager</option>
    <option value="Developer">Developer</option>
    <option value="DevOps">DevOps</option>
    <option value="Development">Development</option>
    <option value="Infrastructure">Infrastructure</option>
    <option value="CTO">CTO</option>
    <option value="AppSupport">AppSupport</option>
    <option value="Accountant">Accountant</option>
  </select><br><br>

  <input type="submit" value="Register">
</form>
</body>
</html>
